<nav>
  <ul id="nav-ul">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Engineers", "Index", "Engineers")
    <li id="last-nav-li">@Html.ActionLink("Machines", "Index", "Machines")
  </ul>
</nav>
