<h1>Factory Manager</h1>

@Html.ActionLink("Engineers", "Index", "Engineers", new { }, new {@role="button", @class="button"})
@Html.ActionLink("Machines", "Index", "Machines", new { }, new {@role="button", @class="button"})